template(name='schoolDetailView')
  +schoolQuickMenu
  +schoolFixedButton
  .container-fluid.listing-title
    +schoolBreadcrumb
    .row.text-center
      h2
        | {{school.name}}
        a.listing-item-rating(href='#') {{school.rate}}
        span.rating-count (14)
    .pg-header-icon.icon-focus
  +schoolGallery
  +schoolDescriptionList school=school
  +schoolReviewList

