<template name="schoolTutorItem">
  <div class="col-sm-3">
    <div class="listing-item">
      <a href="#" class="category-icon icon-dinner"></a>
      <div class="listing-item-rating">{{roundToOne tutor.overall}}</div>
      <a href="#" class="listing-item-link">
        <img alt="" src="/assets/images/listings/1.jpg" />
        <div class="listing-black-overlay"></div>
      </a>
      <div class="listing-item-data">
        <a class="listing-item-address" href="#">
          {{tutor.name}}
        </a>
        <div class="listing-item-excerpt">
          Graduated From: {{tutor.graduated_school}}
        </div>
      </div>
      <div class="listing-category-name">
        {{#each item in tutor.tutor_subjects}}
          <a href="#">{{item}} &nbsp; </a>
        {{/each}}
      </div>
    </div>
  </div>
</template>