<template name="couponForm">
  {{#if Template.subscriptionsReady}}
  	{{#autoForm collection='Coupons' id=_id doc=_doc}}
      <fieldset>
        {{> schoolSelect}}
        {{> courseSelect}}
        {{> tagSelect}}
        {{> afQuickField name='title'}}
        {{> afQuickField name='description' type='summernote' settings=_settings}}
        {{> afQuickField name='thumbnail' type='thumbnailUpload'}}
        {{> afQuickField name='price'}}
        {{#if currentUser.isWebAdmin}}
          {{> afQuickField name='sort.rating'}}
          {{> afQuickField name='sort.rating_count'}}
          {{> afQuickField name='sort.recommend_level'}}
        {{/if}}
      </fieldset>
      <button type="submit" class="btn btn-primary">
      {{#if _doc}}
        Update
      {{else}}
        Create
      {{/if}}
      </button>
      <a href="{{pathFor route='coupon_list'}}">Cancel</a>
    {{/autoForm}}
  {{/if}}
</template>

