<template name="regularTutorItem">
  <div class="col-sm-3">
    <div class="listing-item">
      <a href="#" class="category-icon icon-dinner"></a>
      {{#if checkReviewCount tutor.rating}}
      <div class="listing-item-rating">{{roundToOne tutor.rating}}</div>
      {{/if}}
      <a href="{{pathFor route='tutor_detail_view' id=tutor._id }}" class="listing-item-link">
        {{> singleImage id=tutor.avatar_url class='center-block'}}
      </a>
      <div class="listing-item-data">
        <a class="listing-item-address" href="#">
          {{tutor.name}}
        </a>
        <div class="listing-item-excerpt">
          Graduated From: {{tutor.college}}
        </div>
      </div>
      <div class="listing-category-name">
        {{#each item in tutor.tutor_subjects}}
          <a href="#">{{item}} &nbsp; </a>
        {{/each}}
      </div>
    </div>
  </div>
</template>