<template name="schoolForm">
  {{#autoForm collection='Schools' id=_id doc=_doc}}
    <fieldset>
      {{> afQuickField name='name'}}
      {{> afQuickField name='description' type='summernote' settings=_settings}}
      {{> afQuickField name='ribbon'}}
      {{> afQuickField name='founded_on'}}
      {{> afQuickField name='thumbnail' type='thumbnailUpload' hello='hell'}}

      {{> afQuickField name='contact.phone'}}
      {{> afQuickField name='contact.fax'}}
      {{> afQuickField name='contact.mobile'}}
      {{> afQuickField name='contact.email'}}
      {{> afQuickField name='contact.site'}}
  
      {{> afQuickField name='station'}}
      {{> afQuickField name="location" type="map" searchBox=true zoom=13}}
      
      {{> tagSelect}}
      {{> afQuickField name="amenities" type="selectize" multiple=true selectizeOptions=_selOptions options=_optionsAmen}}
      {{> afQuickField name='claimed'}}
      
      {{#if currentUser.isWebAdmin}}
        {{> afQuickField name='sort.rating'}}
        {{> afQuickField name='sort.rating_count'}}
        {{> afQuickField name='sort.recommend_level'}}
      {{/if}}
    </fieldset>
    <button type="submit" class="btn btn-primary">
    {{#if _doc}}
      Update
    {{else}}
      Create
    {{/if}}
    </button>
    {{#unless hideCancel}}
      <a href="{{pathFor route='school_list'}}">Cancel</a>
    {{/unless}}
  {{/autoForm}}
</template>
