template(name='footer')
  footer
    .row.footer-info
      .footer-col.footer-terms
        a(href='#') Terms of Use
      .footer-col.footer-privacy
        a(href='#') Privacy Policy
      .footer-col.social-networks
        a.fa.fa-facebook(href='#')
        a.fa.fa-twitter(href='#')
        a.fa.fa-instagram(href='#')
        a.fa.fa-pinterest(href='#')
      .footer-col.footer-links
        a(href='{{pathFor route="home"}}l') Home
        a(href='{{pathFor route="school_list_view"}}') Schools
        a(href='{{pathFor route="tutor_list_view"}}') Tutors
        a(href='{{pathFor route="course_list_view"}}') Courses
        a(href='{{pathFor route="coupon_list_view"}}') Coupons
        a(href='{{pathFor route="contact_view"}}') Contact
        a(href='{{pathFor route="login"}}') Login
      .footer-col.footer-contact
        .footer-address  TBD 
        .footer-contact-data  080-9542-3164 
    .row.footer-logo
      a(href='index-vimeo.html')
        img(alt='', src='/images/logo2.png')
    .row.footer-credits
      .copyright  (C) 2017 Jukurate, All right reserved 
