<template name="sideRecent">
	<div class="widget newest-posts"> <!--start widget-->
		<div class="block">
			<div class="widget-title">
				<div class="the-title">
					MOST RECENT
				</div>
			</div>
			<div class="widget-content">
				<div class="item">
					<a href="#">
						<div class="img">
							<img alt="" src="assets/images/single-blog/1.jpg" />
						</div>
						<div class="text">
							<div class="title">
								From Beach Glitz to Urban Ritz, Miami's Hotels Shine
							</div>
							<div class="date">
								Feb 12, 2017
							</div>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="img">
							<img alt="" src="assets/images/blog/2.jpg" />
						</div>
						<div class="text">
							<div class="title">
								Fill Your Bags with Buys from Boston's Best Shopping Spots
							</div>
							<div class="date">
								Feb 07, 2017
							</div>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="img">
							<img alt="" src="assets/images/blog/3.jpg" />
						</div>
						<div class="text">
							<div class="title">
								Fall In Love All Over Again During These Romantic Activities in NYC
							</div>
							<div class="date">
								Feb 02, 2017
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>