<template name="sideTag">
	<!--Start Widget-->
	<div class="widget tags"> <!--start widget-->
		<div class="block">
			<div class="widget-title">
				<div class="the-title">
					TOP TAGS
				</div>
			</div>
			<div class="widget-content list zoom-text">
				<ul class="">
					<li><a href="#">Lunch</a></li>
					<li><a href="#">Dinner</a></li>
					<li><a href="#">Breakfast</a></li>
					<li><a href="#">Movies</a></li>
					<li><a href="#">Pub</a></li>
					<li><a href="#">Drinks</a></li>
					<li><a href="#">Wine</a></li>
					<li><a href="#">Couple</a></li>
					<li><a href="#">Families</a></li>
					<li><a href="#">Business</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--End Widget-->
</template>