template(name='targetAudience')
  .listing-amenities
  h5.amenities-title.text-left
    | Target Audience
  .amenities
    a.icon-man(href='#') Solo
    a.icon-users2(href='#') Couple
    a.icon-users(href='#') Families
    a.icon-group-work(href='#') Friends
    a.icon-cake(href='#') Parties
    a.icon-tie(href='#') Business