<template name="tutorForm">
	{{#if Template.subscriptionsReady}}
  	{{#autoForm collection='Tutors' id=_id doc=_doc}}
      <fieldset>
        {{> schoolSelect}}
        {{> tagSelect}}
        {{> afQuickField name='name'}}
        {{> afQuickField name='description' type='summernote' settings=_settings}}
        {{> afQuickField name='thumbnail' type='thumbnailUpload'}}
        {{> afQuickField name='edu'}}

        {{#if currentUser.isWebAdmin}}
          {{> afQuickField name='sort.rating'}}
          {{> afQuickField name='sort.rating_count'}}
          {{> afQuickField name='sort.recommend_level'}}
        {{/if}}
      </fieldset>
      <button type="submit" class="btn btn-primary">
      {{#if _doc}}
        Update
      {{else}}
        Create
      {{/if}}
      </button>
      <a href="{{pathFor route='tutor_list'}}">Cancel</a>
    {{/autoForm}}
  {{/if}}
</template>