<template name='reviewForm'>
	<form id="review-form" class="review-form" action="#" method="post">
		{{> sessionErrors }}
		<div class="form-group row">
			<div class="row">
				<label class="col-sm-6 overall-rating">Overall</label>
				<div class="col-sm-6 star-rating text-center">
					<div id="overall-rating-number" class="overall-rating">{{roundToOne overall}}</div>
				</div>
			</div>
		</div>
		{{#each item in attributes}}
			{{> reviewStarRating name=item }}
		{{/each}}
		<div class="form-group">
			<textarea class="form-control" name="description" id="review-description" rows="8" placeholder="Describe your experience"></textarea>
		</div>
		<div class="form-group">
			<input type="submit" name="review-submit" id="review-submit" tabindex="4" class="form-control btn btn-submit" value="Submit Review">
		</div>
	</form>
	<a href='#' id='cancel-button'>Cancel</a>
</template>