<template name="articleForm">
  {{#if Template.subscriptionsReady}}
  	{{#autoForm collection='Articles' id=_id doc=_doc}}
      <fieldset>
        {{> tagSelect}}
        {{> afQuickField name='name'}}
        {{> afQuickField name='content' type='summernote' settings=_settings}}
        <label id="word_max" for=""></label>
        {{> uploadForm ownerId=_doc._id}}
        {{#if currentUser.isWebAdmin}}
          {{> afQuickField name='sort.rating'}}
          {{> afQuickField name='sort.rating_count'}}
          {{> afQuickField name='sort.recommend_level'}}
          {{> afQuickField name='sort.likes'}}
        {{/if}}
      </fieldset>
      <button type="submit" class="btn btn-primary">
      {{#if _doc}}
        Update
      {{else}}
        Create
      {{/if}}
      </button>
      <a href="{{pathFor route='article_list'}}">Cancel</a>
    {{/autoForm}}
  {{/if}}
</template>

