template(name='schoolBreadcrumb')
  .breadcrumbs.text-left
    ul
      li
        a(href='#') Home
      li
        a(href='#') Listings
      li
        a(href='#') Boston
      li
        a(href='#') Food
      li
        a(href='#') Restaurants
    