template(name='schoolGallery')
  #gal.container-fluid.gallery
    .gallery-item
      a(href='/assets/images/single-listing/1.jpg', data-lightbox='gallery', data-title='Our external tables and front walls with retro aspect')
    .gallery-item
      a(href='/assets/images/single-listing/2.jpg', data-lightbox='gallery', data-title='Internal tables, harmonious environment for the whole family')
    .gallery-item
      a(href='/assets/images/single-listing/3.jpg', data-lightbox='gallery', data-title='Our chef preparing some delicious dinner')
    .gallery-item
      a(href='/assets/images/single-listing/4.jpg', data-lightbox='gallery', data-title='Salad with fries and Sauce')
    .gallery-item
      a(href='/assets/images/single-listing/5.jpg', data-lightbox='gallery', data-title='Gourmet options')
    .gallery-item
      a(href='/assets/images/single-listing/6.jpg', data-lightbox='gallery', data-title='Varied menu of wines')
    .gallery-item
      a(href='/assets/images/single-listing/7.jpg', data-lightbox='gallery', data-title='Special spinach salad as entry')