template(name='schoolGallery')
  unless Template.subscriptionsReady
    +loading
  each image in images
    .gallery-item
      a(href='{{image.link}}', data-lightbox='gallery')
      img(src='{{image.link}}')