<template name="profileUserProfileTab">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Profile</h3>
	  </div>
	  <div class="panel-body">
	  	<div class="panel-thumbnail">
	  		<a href="#">
		  		{{> singleImage id=currentUser._id class='center-block user-profile' default="USER" height=300 width=300}}
		  	</a>
		  	<button class='btn btn-primary upload-button' style="margin-top: 10px">Change Thumbnail</button>
		  	{{#if upload}}
					{{> uploadForm ownerId=currentUser._id}}
				{{/if}}
	  	</div>
			<table class="table table-user-information">
        <tbody>
          <tr>
            <td>Name:</td>
            <td>{{currentUser.name}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{currentUser.email}}</td>
          </tr>
          <tr>
            <td>Likes:</td>
            <td>{{currentUser.likesCount}}</td>
          </tr>
        </tbody>
      </table>
	  </div>
	</div>
</template>