<template name="thumbnailUpload">
  <div data-schema-key="{{schemaKey}}">
    <input type="text" class="fu-original" value="{{originalId}}" style="display: none">
    <input type="text" class="fu-cropped" value="{{croppedId}}" style="display: none">
  </div>
  {{#with uploadedFile}}
    {{> thumbnailCropper original=image cropped=cropped schemaKey=schemaKey}}
    <a data-remove-file href="#">Remove</a>
  {{else}}
    {{#with currentUpload}}
      Uploading <b>{{file.name}}</b>:
      <progress value="{{progress.get}}" max="100"></progress>
      &nbsp;
      <span class="progress">{{progress.get}}%</span>
    {{else}}
      <input data-files-collection-upload class="form-control af-file-upload-capture" type="file" />
    {{/with}}
  {{/with}}
</template>