<template name="relatedArticleList">
	<!-- Start Related Articles -->
	<div class="container-fluid related">
		<h2>Related Articles</h2>
		<div class="separator-medium"></div>
		<div class="row listing white">
			<!-- Start Blog Item Col -->
			<div class="col-sm-3">
				<div class="listing-item">
					<a href="#" class="category-icon icon-news"></a>
					<div class="listing-item-date">
						<div class="day">12</div>
						<div class="month">Feb</div>
					</div>
					<a href="#" class="listing-item-link">
						<div class="listing-item-title-centralizer">
							<div class="listing-item-title">
								From Beach Glitz to Urban Ritz, Miami's Hotels Shine
							</div>
						</div>
						<img alt="" src="/assets/images/blog/14.jpg" />
					</a>
					<div class="listing-item-data">
						<div class="listing-item-excerpt">
							The best relaxing experience
						</div>
					</div>
					<div class="listing-category-name">
						<a href="#">Relax</a>
					</div>
				</div>
			</div>
			<!-- End Blog Item Col -->
			<!-- Start Blog Item Col -->
			<div class="col-sm-3">
				<div class="listing-item">
					<a href="#" class="category-icon icon-paperclip"></a>
					<div class="listing-item-date">
						<div class="day">07</div>
						<div class="month">Feb</div>
					</div>
					<a href="#" class="listing-item-link">
						<div class="listing-item-title-centralizer">
							<div class="listing-item-title">
								Fill Your Bags with Buys from Boston's Best Shopping Spots
							</div>
						</div>
						<img alt="" src="/assets/images/blog/15.jpg" />
					</a>
					<div class="listing-item-data">
						<div class="listing-item-excerpt">
							Staple items, unique pieces
						</div>
					</div>
					<div class="listing-category-name">
						<a href="#">Shop</a>
					</div>
				</div>
			</div>
			<!-- End Blog Item Col -->
			<!-- Start Blog Item Col -->
			<div class="col-sm-3">
				<div class="listing-item">
					<a href="#" class="category-icon icon-reminder"></a>
					<div class="listing-item-date">
						<div class="day">02</div>
						<div class="month">Feb</div>
					</div>
					<a href="#" class="listing-item-link">
						<div class="listing-item-title-centralizer">
							<div class="listing-item-title">
								Fall In Love All Over Again During These Romantic Activities in NYC
							</div>
						</div>
						<img alt="" src="/assets/images/blog/17.jpg" />
					</a>
					<div class="listing-item-data">
						<div class="listing-item-excerpt">
							Take romance to the next level
						</div>
					</div>
					<div class="listing-category-name">
						<a href="#">Fun and Entertainment</a>
					</div>
				</div>
			</div>
			<!-- End Blog Item Col -->
			<!-- Start Blog Item Col -->
			<div class="col-sm-3">
				<div class="listing-item">
					<a href="#" class="category-icon icon-lamp"></a>
					<div class="listing-item-date">
						<div class="day">23</div>
						<div class="month">Jan</div>
					</div>
					<a href="#" class="listing-item-link">
						<div class="listing-item-title-centralizer">
							<div class="listing-item-title">
								Get Your Sourdough On at Goat Hill Pizza
							</div>
						</div>
						<img alt="" src="/assets/images/blog/16.jpg" />
					</a>
					<div class="listing-item-data">
						<div class="listing-item-excerpt">
							Spreading the joy to West Portal
						</div>
					</div>
					<div class="listing-category-name">
						<a href="#">Food and Drink</a>
					</div>
				</div>
			</div>
			<!-- End Blog Item Col -->
		</div>
	</div>
	<div class="separator-short"></div>
	<!-- End Related Article -->
</template>