<template name='nav'>
	<div class='admin-nav'>
		<!-- Navigation -->
		<nav id="juku-nav" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div id="juku-nav-header">
				<a id="juku-navbar-brand" href="/">JukuRate</a>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<li class="dropdown">
					{{#if currentUser}}
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ currentUser.name }} <b class="caret"></b></a>
					{{else}}
					{{> atNavButton }}
					{{/if}}
					<ul class="dropdown-menu">
						<li>
							<a href="{{pathFor route='admin_profile'}}"><i class="fa fa-fw fa-user"></i> Profile</a>
						</li>
						<li class="divider"></li>
						<li>
							<a id="logout" href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li id="navbar_item" class="{{isActiveRoute 'dashboard'}}">
						<a href="{{pathFor route='dashboard'}}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
					</li>
					{{#if currentUser.isSchoolAdmin }}
					<li id="navbar_item" class="{{isActiveRoute 'admin_profile'}}">
						<a href="{{pathFor route='admin_profile'}}"><i class="fa fa-fw fa-bar-chart-o"></i> Profile</a>
					</li>
					{{/if}}
					{{#if currentUser.isWebAdmin }}
					<li id="navbar_item" class="{{isActiveRoute 'school_list'}}">
						<a href="{{pathFor route='school_list'}}"><i class="fa fa-fw fa-bar-chart-o"></i> Schools</a>
					</li>
					<li id="navbar_item" class="{{isActiveRoute 'article_list'}}">
						<a href="{{pathFor route='article_list'}}"><i class="fa fa-fw fa-bar-chart-o"></i> Articles</a>
					</li>
					<li id="navbar_item" class="{{isActiveRoute 'tag_list'}}">
						<a href="{{pathFor route='tag_list'}}"><i class="fa fa-fw fa-bar-chart-o"></i> Tags</a>
					</li>
					{{/if}}
					<li id="navbar_item" class="{{isActiveRoute 'tutor_list'}}">
						<a href="{{pathFor route='tutor_list'}}"><i class="fa fa-fw fa-table"></i> Tutors</a>
					</li>
					<li id="navbar_item" class="{{isActiveRoute 'course_list'}}">
						<a href="{{pathFor route='course_list'}}"><i class="fa fa-fw fa-edit"></i> Courses</a>
					</li>
					<li id="navbar_item" class="{{isActiveRoute 'coupon_list'}}">
						<a href="{{pathFor route='coupon_list'}}"><i class="fa fa-fw fa-desktop"></i> Coupons</a>
					</li>
					<li id="navbar_item" class="{{isActiveRoute 'review_list'}}">
						<a href="{{pathFor route='review_list'}}"><i class="fa fa-fw fa-desktop"></i> Reviews</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	<!-- {{> loginButtons}} -->
	</div>
</template>