<template name='nav'>
	<div class='admin-nav'>
		<!-- Navigation -->
		<nav id="juku-nav" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div id="juku-nav-header">
				<a id="juku-navbar-brand" href="/admin">JukuRate</a>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
					<ul class="dropdown-menu message-dropdown">
						<li class="message-preview">
							<a href="#">
								<div class="media">
									<span class="pull-left">
										<img class="media-object" src="http://placehold.it/50x50" alt="">
									</span>
									<div class="media-body">
										<h5 class="media-heading"><strong>{{ currentUser._id }}</strong>
										</h5>
										<p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
							</a>
						</li>
						<li class="message-footer">
							<a href="#">Read All New Messages</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					{{#if currentUser}}
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ currentUser._id }} <b class="caret"></b></a>
					{{else}}
					{{> atNavButton }}
					{{/if}}
					<ul class="dropdown-menu">
						<li>
							<a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li class="{{isActiveRoute 'dashboard'}}">
						<a href="{{pathFor route='dashboard'}}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
					</li>
					<li class="{{isActiveRoute 'school_list'}}">
						<a href="{{pathFor route='school_list'}}"><i class="fa fa-fw fa-bar-chart-o"></i> Schools</a>
					</li>
					<li class="{{isActiveRoute 'tutor_list'}}">
						<a href="{{pathFor route='tutor_list'}}"><i class="fa fa-fw fa-table"></i> Tutors</a>
					</li>
					<li class="{{isActiveRoute 'course_list'}}">
						<a href="{{pathFor route='course_list'}}"><i class="fa fa-fw fa-edit"></i> Courses</a>
					</li>
					<li class="{{isActiveRoute 'coupon_list'}}">
						<a href="{{pathFor route='coupon_list'}}"><i class="fa fa-fw fa-desktop"></i> Coupons</a>
					</li>
					<li class="{{isActiveRoute 'review_list'}}">
						<a href="{{pathFor route='review_list'}}"><i class="fa fa-fw fa-desktop"></i> Reviews</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	<!-- {{> loginButtons}} -->
	</div>
</template>