template(name='schoolQuickMenu')
  .quick-menu
    a.icon-arrow-up.hide-menu(href='#', title='Hide Quick Menu', data-toggle='tooltip', data-placement='right')
    a.icon-arrow-down.hidden.show-menu(href='#', title='Show Quick Menu', data-toggle='tooltip', data-placement='right')
    a.icon-focus.gal(href='#', title='Gallery', data-toggle='tooltip', data-placement='right')
    a.icon-copy.desc(href='#', title='Description', data-toggle='tooltip', data-placement='right')
    a.icon-star.rev(href='#', title='Reviews', data-toggle='tooltip', data-placement='right')
    a.icon-map-marker.mp(href='#', title='Map', data-toggle='tooltip', data-placement='right')
    a.icon-link.rel(href='#', title='Related Listings', data-toggle='tooltip', data-placement='right')
    a.icon-envelope.pvt(href='#', title='Private Message', data-toggle='tooltip', data-placement='right')