<template name='dashboardLayout'>
	<style type="text/css">
    body {
	    margin-top: 100px;
	    background-color: #222;
		}

		@media(min-width:768px) {
	    body {
	        margin-top: 50px;
	    }
		}
  </style>
  {{#if Template.subscriptionsReady}}
  	{{#if currentUser.isAdmin }}
			<div class='dashboardLayout'>
				<div id='wrapper'>
					{{> nav}}
					<div id="page-wrapper">
						<div class="container-fluid">
							{{> yield}}
						</div>
					</div>
				</div>
			</div>
		{{/if}}
	{{else}}
		{{> pageLoading}}
	{{/if}}
</template>

