template(name='schoolListView')
  +pageHeader title='School' subtitle='Find the school that suits you the most'
  +sortBar
  .container-fluid.blog.listing-block
    .row.listing.grid4.white
      // Start Blog Listing
      .col-md-9.text-center
        +regularList itemTemplate='listItemStyle1' collection='Schools' initialLoad=3 col=4
      .col-md-3.sidebar-right
        +rightSideFilter tagFilter=true collection='schools'
  +loadMore name='schools'