template(name='schoolListView')
  +pageHeader
  +sortBar
  .container-fluid.blog.listing-block
    .row.listing.grid4.white
      // Start Blog Listing
      .col-md-9.text-center
        +regularList itemTemplate='listItemStyle1' collection='Schools' initialLoad=3 col=4
      .col-md-3.sidebar-right
        +rightSideFilter tagFilter=true
  .more-listing.icon-plus(title='More Listings', data-toggle='tooltip', data-placement='top')