<template name='regularReviewItem'>
  {{#if Template.subscriptionsReady}}
    {{#with review}}
      <div class="row author-block">
        <div class="col-sm-12 text-left">
          <a href="{{#if routeName}} {{pathFor route=routeName id=item._id }} {{/if}}" class="author-avatar pull-left">
            {{> singleImage id=item._id class='author-avatar' default=defaultImage}}
          </a>
          <a href="{{#if routeName}} {{pathFor route=routeName id=item._id }} {{/if}}" class="author-name">{{item.itemTitle}}</a>
          {{> reviewBlock rating=overall}}
          <span class="data icon-calendar-full">{{ formatted_created_at }}</span>
          <div class="clear"></div>
          <div class="author-description">
            {{description}}
          </div>
        </div>
      </div>
    {{/with}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>
 