<template name='regularReviewItem'>
  <div class="row author-block">
    <div class="col-sm-12 text-left">
      <a href="#" class="author-avatar pull-left" style="background-image: url({{user.profile.avatar_url}})">
        <div class="author-stats">
          <div class="post-counter">14</div>
          <div>Reviews</div>
        </div>
      </a>
      <a href="#" class="author-name">{{user.profile.name}}</a>
      {{> reviewBlock rating=overall}}
      <span class="data icon-calendar-full">{{ formatted_created_at }}</span>
      <div class="clear"></div>
      <div class="author-description">
        {{description}}
      </div>
    </div>
  </div>
</template>
 