template(name='schoolListStyle1')
  .container-fluid.listing-block.listings-has-sidebar
    .row.listing.grid2.white
      // Start Blog Listing
      .col-md-9.text-center
        each items
          +schoolListStyleItem1
        // Start Listing Item Col
        .col-sm-3
          .listing-item
            a.category-icon.icon-dinner(href='#')
            .listing-item-rating 4.9
            a.listing-item-link(href='#')
              .listing-item-title-centralizer
                .listing-item-title
                  | Area Four
                  .ribbon ~ $18-$90
              img(alt='', src='assets/images/listings/1.jpg')
            .listing-item-data
              a.listing-item-address(href='#')
                | Troy South End, 264 E. Berkley St, Boston
              .listing-item-excerpt
                | Excellent wood-fired pizzas, salads, and croissants
            .listing-category-name
              a(href='#') Restaurant
        // End Listing Item Col
      // End Blog Listing
      // Start Sidebar
      .col-md-3.sidebar-right
        .widget-area
          // Start Widget Container
          .widget-container
            // Start Widget
            .widget.news-archive
              // start widget
              .block
                .widget-title
                  .the-title
                    | CITIES
                .widget-content
                  ul
                    li.item
                      a(href='#') Boston
                    li.item
                      a(href='#') Chicago
                    li.item
                      a(href='#') Miami
                    li.item
                      a(href='#') San Francisco
                    li.item.more-widget-item
                      a(href='#') Show More
            // End Widget
            // Start Widget
            .widget.news-categories
              // start widget
              .block
                .widget-title
                  .the-title
                    | CATEGORIES
                .widget-content
                  ul
                    li.item
                      a(href='#') Tour
                    li.item
                      a(href='#') Eat
                    li.item
                      a(href='#') Relax
                    li.item
                      a(href='#') Buy
                    li.item.more-widget-item
                      a(href='#') Show More
            // End Widget
            // Start Widget
            .widget.newest-posts
              // start widget
              .block
                .widget-title
                  .the-title
                    | MOST RECENT
                .widget-content
                  .item
                    a(href='#')
                      .img
                        img(alt='', src='assets/images/single-blog/1.jpg')
                      .text
                        .title
                          | From Beach Glitz to Urban Ritz, Miami's Hotels Shine
                        .date
                          | Feb 12, 2017
                  .item
                    a(href='#')
                      .img
                        img(alt='', src='assets/images/blog/2.jpg')
                      .text
                        .title
                          | Fill Your Bags with Buys from Boston's Best Shopping Spots
                        .date
                          | Feb 07, 2017
                  .item
                    a(href='#')
                      .img
                        img(alt='', src='assets/images/blog/3.jpg')
                      .text
                        .title
                          | Fall In Love All Over Again During These Romantic Activities in NYC
                        .date
                          | Feb 02, 2017
            // End Widget
            // Start Widget
            .widget.tags
              // start widget
              .block
                .widget-title
                  .the-title
                    | TOP TAGS
                .widget-content.list.zoom-text
                  ul
                    li
                      a(href='#') Lunch
                    li
                      a(href='#') Dinner
                    li
                      a(href='#') Breakfast
                    li
                      a(href='#') Movies
                    li
                      a(href='#') Pub
                    li
                      a(href='#') Drinks
                    li
                      a(href='#') Wine
                    li
                      a(href='#') Couple
                    li
                      a(href='#') Families
                    li
                      a(href='#') Business
    .more-listing.icon-plus(title='More Listings', data-toggle='tooltip', data-placement='top')
