<template name="singleImage">
  {{#unless Template.subscriptionsReady}}
    {{> loading}}
  {{/unless}}
	{{#if image}}
    <img src="{{image.link}}" alt="" class="{{class}}" height="{{height}}" width="{{width}}">
	{{else}}
  {{#if image_title}}
  	<div class="listing-item-title-centralizer">
      <div class="listing-item-title">
        {{image_title}}
      </div>
    </div>
  {{/if}}
  {{#if overlay}}
    <div class="listing-black-overlay"></div>
  {{/if}}
  <img id="default-image" class="{{class}}" height="{{height}}" width="{{width}}" alt="" src="{{defaultImage}}" />
	{{/if}}
</template>