template(name='home')
  .container-fluid.hero-header.masked
    .header-centralizer
      .content-centralized
        .hero-search
          form#searchForm
            fieldset
              input#search.form-control(type='text', data-placeholder='Explore and Enjoy...')
              span.typingEffect(data-title='Explore and Enjoy//Find New Places//Discover Tasty Goodies//Do Memorable Check-ins//Go Beyond Horizon')
            .search-submit
              input(type='submit', value=' ')
              i.hero-search-icon
        +homeTagList
        +topList

