<template name="rightSideBar">
	<!-- Start Sidebar -->
	<div class="col-md-3 sidebar-right">
		<div class="widget-area">
			<!--Start Widget Container-->
			<div class="widget-container">
				<!--Start Widget-->
				<div class="widget news-search">
					<div class="block">
						<div class="widget-content search">
							<div class="search-field">
								<form>
									<input placeholder="Search on Blog..." />
								</form>
							</div>
							<div class="search-submit">
								<i class="fa fa-search"></i>
							</div>
						</div>
					</div>
				</div>
				<!--End Widget-->
				<!--Start Widget-->
				<div class="widget news-categories"> <!--start widget-->
					<div class="block">
						<div class="widget-title">
							<div class="the-title">
								CATEGORIES
							</div>
						</div>
						<div class="widget-content">
							<ul>
								<li class="item">
									<a href="#">Shop</a>
								</li>
								<li class="item">
									<a href="#">Relax</a>
								</li>
								<li class="item">
									<a href="#">Food and Drink</a>
								</li>
								<li class="item">
									<a href="#">Fun and Entertainment</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--End Widget-->
				<!--Start Widget-->
				<div class="widget news-archive"> <!--start widget-->
					<div class="block">
						<div class="widget-title">
							<div class="the-title">
								ARCHIVE
							</div>
						</div>
						<div class="widget-content">
							<ul>
								<li class="item">
									<a href="#">February 2017</a>
								</li>
								<li class="item">
									<a href="#">January 2017</a>
								</li>
								<li class="item">
									<a href="#">December 2016</a>
								</li>
								<li class="item">
									<a href="#">November 2016</a>
								</li>
								<li class="item">
									<a href="#">October 2016</a>
								</li>
								<li class="item">
									<a href="#">September 2016</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--End Widget-->
				<!--Start Widget-->
				<div class="widget newest-posts"> <!--start widget-->
					<div class="block">
						<div class="widget-title">
							<div class="the-title">
								RECENT
							</div>
						</div>
						<div class="widget-content">
							<div class="item">
								<a href="#">
									<div class="img">
										<img alt="" src="/assets/images/single-blog/1.jpg" />
									</div>
									<div class="text">
										<div class="title">
											From Beach Glitz to Urban Ritz, Miami's Hotels Shine
										</div>
										<div class="date">
											Feb 12, 2017
										</div>
									</div>
								</a>
							</div>
							<div class="item">
								<a href="#">
									<div class="img">
										<img alt="" src="/assets/images/blog/2.jpg" />
									</div>
									<div class="text">
										<div class="title">
											Fill Your Bags with Buys from Boston's Best Shopping Spots
										</div>
										<div class="date">
											Feb 07, 2017
										</div>
									</div>
								</a>
							</div>
							<div class="item">
								<a href="#">
									<div class="img">
										<img alt="" src="/assets/images/blog/3.jpg" />
									</div>
									<div class="text">
										<div class="title">
											Fall In Love All Over Again During These Romantic Activities in NYC
										</div>
										<div class="date">
											Feb 02, 2017
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--End Widget-->
				<!--Start Widget-->
				<div class="widget sidebar-social"> <!--start widget-->
					<div class="block">
						<div class="widget-title">
							<div class="the-title">
								FOLLOW US
							</div>
						</div>
						<div class="widget-content">
							<div class="social-networks">
								<a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-twitter"></a>
								<a href="#" class="fa fa-instagram"></a>
								<a href="#" class="fa fa-pinterest"></a>
							</div>
						</div>
					</div>
				</div>
				<!--End Widget-->
				<!--Start Widget-->
				<div class="widget tags"> <!--start widget-->
					<div class="block">
						<div class="widget-title">
							<div class="the-title">
								TAGS
							</div>
						</div>
						<div class="widget-content list zoom-text">

							<ul class="">
								<li><a href="#">House</a></li>
								<li><a href="#">Dinner</a></li>
								<li><a href="#">Games</a></li>
								<li><a href="#">Movies</a></li>
								<li><a href="#">Cars</a></li>
								<li><a href="#">Computer</a></li>
								<li><a href="#">Celular</a></li>
								<li><a href="#">Dogs</a></li>
								<li><a href="#">Pets</a></li>
								<li><a href="#">Beds</a></li>
								<li><a href="#">Travel</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!--End Widget-->
			</div>
			<!--End Widget Container-->
		</div>
	</div>
	<!-- End Sidebar -->
</template>