<template name="regularCouponItem">
  <div class="col-sm-3">
    <div class="listing-item">
      <a href="#" class="category-icon icon-dinner"></a>
      <div class="listing-item-rating">{{roundToOne coupon.overall}}</div>
      <a href="{{pathFor route='coupon_detail_view' id=coupon._id }}" class="listing-item-link">
        <img alt="" src="/assets/images/listings/1.jpg" />
        <div class="listing-black-overlay"></div>
      </a>
      <div class="listing-item-data">
        <a class="listing-item-address" href="#">
          {{coupon.title}}
        </a>
        <div class="listing-item-excerpt">
          Graduated From: {{coupon.graduated_school}}
        </div>
      </div>
      <div class="listing-category-name">
        {{#each item in coupon.coupon_subjects}}
          <a href="#">{{item}} &nbsp; </a>
        {{/each}}
      </div>
    </div>
  </div>
</template>