<template name="listingFilters">
	<div class="container-fluid listing-block">
		<div class="row listing-results">
	    <div class="results-count">
	      <span class="counter">85</span> results
	    </div>
	    <div class="listing-filter">
	      <form>
	        <select class="selectpicker" multiple data-max-options="5" data-live-search="true">
	          <optgroup label="Cities">
	            <option class="placeholder" hidden selected disabled value="">Filters</option>
	            <option data-icon="icon-city">Boston</option>
	            <option data-icon="icon-city">Chicago</option>
	            <option data-icon="icon-city">Miami</option>
	            <option data-icon="icon-city">New Orleans</option>
	            <option data-icon="icon-city">New York City</option>
	            <option data-icon="icon-city">San Francisco</option>
	            <option data-icon="icon-city">Washington</option>
	          </optgroup>
	          <optgroup label="Categories">
	            <option data-icon="icon-theater">Entertaiment</option>
	            <option data-icon="icon-palette child">Art Gallery</option>
	            <option data-icon="icon-clapboard-play child">Movie Theather</option>
	            <option data-icon="icon-library2 child">Museum</option>
	            <option data-icon="icon-trophy2 child">Stadium</option>
	            <option data-icon="icon-paw child">Zoo</option>
	            <option data-icon="icon-dinner">Food</option>
	            <option data-icon="icon-chef child">Bakery</option>
	            <option data-icon="icon-teacup child">Café</option>
	            <option data-icon="icon-pizza child">Pizza</option>
	            <option data-icon="icon-platter child">Restaurant</option>
	            <option data-icon="icon-glass child">Winery</option>
	            <option data-icon="icon-moon">Nightlife</option>
	            <option data-icon="icon-glass-cocktail child">Bar</option>
	            <option data-icon="icon-bottle2 child">Brewery</option>
	            <option data-icon="icon-cake child">Lounge</option>
	            <option data-icon="icon-spotlights child">Nightclub</option>
	            <option data-icon="icon-landscape">Outdoor Recreation</option>
	            <option data-icon="icon-construction child">Bridge</option>
	            <option data-icon="icon-tree child">Park</option>
	            <option data-icon="icon-alarm">Service</option>
	            <option data-icon="icon-car child">Car Dealer</option>
	            <option data-icon="icon-pencil-ruler2 child">Design</option>
	            <option data-icon="icon-bench-press child">Gim</option>
	            <option data-icon="icon-saw child">Home Service</option>
	            <option data-icon="icon-laundry child">Laundry</option>
	            <option data-icon="icon-bag">Shop</option>
	            <option data-icon="icon-bag-dollar child">Bank</option>
	            <option data-icon="icon-library child">Bookstore</option>
	            <option data-icon="icon-hanger child">Clothing</option>
	            <option data-icon="icon-chair child">Furniture</option>
	            <option data-icon="icon-home">Lodging</option>
	            <option data-icon="icon-bed child">Hotel</option>
	            <option data-icon="icon-bed child">Apartment</option>
	            <option data-icon="icon-bed child">Villa</option>
	            <option data-icon="icon-bed child">Hostel</option>
	          </optgroup>
	          <optgroup label="Amenities">
	            <option data-icon="icon-credit-card">Accepts Credit Cards</option>
	            <option data-icon="icon-bicycle">Bike Parking</option>
	            <option data-icon="icon-envelope">Contact Form</option>
	            <option data-icon="icon-receipt">Coupons</option>
	            <option data-icon="icon-baby2">Family/Kids Friendly</option>
	            <option data-icon="icon-hand-waving">Free Entrance</option>
	            <option data-icon="icon-lan2">Online Order</option>
	            <option data-icon="icon-parking">Parking Street</option>
	            <option data-icon="icon-paw">Pets Friendly</option>
	            <option data-icon="icon-phone-wave">Phone</option>
	            <option data-icon="icon-contacts">Reservations</option>
	            <option data-icon="icon-pipe">Smoking Allowed</option>
	            <option data-icon="icon-wheelchair">Wheelchair Accessible</option>
	            <option data-icon="icon-bubble-dots">Whatsapp</option>
	            <option data-icon="icon-wifi">Wireless Internet</option>
	          </optgroup>
	        </select>
	        <input type="submit"/>
	      </form>
	    </div>
		</div>
	</div>
</template>