<template name="pageHeader">
	<div class="container-fluid pg-header" style="background-image: url(/assets/images/backgrounds/14.jpg);">
    <div class="breadcrumbs text-left">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="pg-header-content">
      <h1 class="pg-title">
        Contact
      </h1>
      <h4 class="pg-subtitle">
        Get in touch with us
      </h4>
    </div>
    <div class="pg-header-icon icon-bubbles"></div>
  </div>
</template>