template(name='top_reviews_item')
  .col-md-3.resent-grid.recommended-grid.slider-first
    .resent-grid-img.recommended-grid-img
      a(href='single.html')
        img(src='images/c.jpg', alt='')
      .time.small-time.slider-time
        p 7:34
      .clck.small-clck
        span.glyphicon.glyphicon-time(aria-hidden='true')
    .resent-grid-info.recommended-grid-info
      h5
        a.title(href='single.html') Varius sit sed viverra nullam viverra nullam interdum metus
      .slid-bottom-grids
        .slid-bottom-grid
          p.author.author-info
            a.author(href='#') John Maniya
        .slid-bottom-grid.slid-bottom-right
          p.views.views-info 2,114,200 views
        .clearfix  
